p{
    font-family: "Gwendolyn", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
}
.parent{
    border: 2px solid green;
    height: 100px;
    width: 100px;
column-gap: normal;
flex-wrap: wrap;

}
.child{
    border:2px solid green;
    height: 100px;
    width: 100px;
    display: flex;

}